{% extends "bootstrap/base.html" %}

{% block title %}Home Site{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{{ url_for("mathematics.math_add") }}">心算加法</a>
                </li>
                <li>
                    <a href="{{ url_for("mathematics.math_sub") }}">心算减法</a>
                </li>
                <li>
                    <a href="{{ url_for("english.new_word_random") }}">生词本</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Home Site</h1>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
